* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    background-image: url('/images/papeldeparede.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}
.botao{
    position: absolute;
    top: 66%;
    left:43.6%;
    width: 15.7%;
    height:10%;

    background-color:transparent;

}

#botaoDeTutorial{
    position: absolute;
    bottom: 5%;
    left:46%;
    width: 10%;
    height: 5%;
}
