*{
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/TypeGunOJogo/images/bJogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    }

.escreverTextoGeral{
    display: flex;
    justify-content: center;    
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
    padding-left: 30px;
    gap: 120px;
    font-size: x-large;

    }
    
.frasePraDigitar {

    align-self: flex-start;
    padding-top: 120px;


}

textarea {
    background: white;
    width: 280px;
    height: 430px;
    border: none;
    resize: none;
    
    font-family: "Bona Nova SC", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: x-large;

    }
