*{margin: 0;
padding: 0;
box-sizing: border-box;
overflow-y: hidden;
overflow-x: hidden;
}

body{
    background-image: url('/TypeGunOJogo/images/backJogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    }

.escreverTextoGeral{   
    padding-top: 29.5% ;
    font-size: 2.5vw;


    }
    

.frasePraDigitar{

    position: absolute;
    left: 20%;
    user-select: none; 

}


textarea {
    
    position: absolute;
    right: 21.3%;
    background: transparent; 
    width: 28%;
    height: 35%;
    border: none;
    resize: none;
    outline: none;

    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2.5vw;
    }

.relogioMenorQue9 {
    position: relative;
    right: 41%;
    top: 26%;
    
    
    color: black;
    font-size: 4.3vw;

    user-select: none;
}

.relogioMaiorQue9 {
    display: flex;
    position: relative;
    right: 41.2%;
    top: 26%;
    
    
    color: black;
    font-size: 4.3vw;

    user-select: none;
}

.correto {
    color: green;
}

.incorreto {
    color: red
}
