*{
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing:border-box;
}

body{
    background-image: url('/TypeGunOJogo/images/backJogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    }

.escreverTextoGeral{
    display: flex;   
    min-height: 100vh;
    padding-top: 400px ;
    gap: 30px;
    font-size: x-large;

    }
    

.frasePraDigitar{
    position: absolute;
    left: 278px;
    user-select: none; 
}


textarea {
    
    position: absolute;
    right: 290px;
    background: transparent; 
    width: 385px;
    height: 222px;
    border: none;
    resize: none;


    font-family: "Bona Nova SC", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: x-large;
    outline: 0px;
    }

.relogio {
    position: absolute;
    left: 99px;
    top: 179px;
    color: black;
    font-size: xxx-large;
}
